.newsletter {
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news {
    display: flex;
    align-items: center;
    justify-content: center;
}